<%= form_with model: @score_subject_average, url: scores_path, id: "id_form", local: true do |f|  %>
  サブジェクトテーブル
  <div>
  <label><%= f.check_box :sub_jpn_ctp,                     {class: "hoge"}, "現代文", "0" %>現代文</label>
  <label><%= f.check_box :sub_jpn_classic,                 {class: "hoge"}, "古文", "0" %>古文</label>
  <label><%= f.check_box :sub_jpn_chinese,                 {class: "hoge"}, "漢文", "0" %>漢文</label>
  <label><%= f.check_box :sub_jpn,                         {class: "hoge"}, "国語", "0" %>国語</label>
  <label><%= f.check_box :sub_math_1_a,                    {class: "hoge"}, "数学ⅠA", "0" %>数学ⅠA</label>
  <label><%= f.check_box :sub_math_2_b,                    {class: "hoge"}, "数学ⅡB", "0" %>数学ⅡB</label>
  <label><%= f.check_box :sub_math_3_c,                    {class: "hoge"}, "数学ⅢC", "0" %>数学ⅢC</label>
  <label><%= f.check_box :sub_math_1,                      {class: "hoge"}, "数学Ⅰ", "0" %>数学Ⅰ</label>
  <label><%= f.check_box :sub_math_2,                      {class: "hoge"}, "数学Ⅱ", "0" %>数学Ⅱ</label>
  <label><%= f.check_box :sub_math_3,                      {class: "hoge"}, "数学Ⅲ", "0" %>数学Ⅲ</label>
  <label><%= f.check_box :sub_math_a,                      {class: "hoge"}, "数学A", "0" %>数学A</label>
  <label><%= f.check_box :sub_math_b,                      {class: "hoge"}, "数学B", "0" %>数学B</label>
  <label><%= f.check_box :sub_math_c,                      {class: "hoge"}, "数学C", "0" %>数学C</label>
  <label><%= f.check_box :sub_math,                        {class: "hoge"}, "数学", "0" %>数学</label>
  <label><%= f.check_box :sub_book_keep,                   {class: "hoge"}, "簿記・会計", "0" %>簿記・会計</label>
  <label><%= f.check_box :sub_basic_info,                  {class: "hoge"}, "情報関係基礎", "0" %>情報関係基礎</label>
  <label><%= f.check_box :sub_science_n_life,              {class: "hoge"}, "科学と人間生活", "0" %>科学と人間生活</label>
  <label><%= f.check_box :sub_basic_physics,               {class: "hoge"}, "物理基礎", "0" %>物理基礎</label>
  <label><%= f.check_box :sub_physics,                     {class: "hoge"}, "物理", "0" %>物理</label>
  <label><%= f.check_box :sub_basic_chemistry,             {class: "hoge"}, "化学基礎", "0" %>化学基礎</label>
  <label><%= f.check_box :sub_chemistry,                   {class: "hoge"}, "化学", "0" %>化学</label>
  <label><%= f.check_box :sub_basic_earth_science,         {class: "hoge"}, "地学基礎", "0" %>地学基礎</label>
  <label><%= f.check_box :sub_earth_science,               {class: "hoge"}, "地学", "0" %>地学</label>
  <label><%= f.check_box :sub_basic_biology,               {class: "hoge"}, "生物基礎", "0" %>生物基礎</label>
  <label><%= f.check_box :sub_biology,                     {class: "hoge"}, "生物", "0" %>生物</label>
  <label><%= f.check_box :sub_science,                     {class: "hoge"}, "理科", "0" %>理科</label>
  <label><%= f.check_box :sub_wld_history_a,               {class: "hoge"}, "世界史A", "0" %>世界史A</label>
  <label><%= f.check_box :sub_wld_history_b,               {class: "hoge"}, "世界史B", "0" %>世界史B</label>
  <label><%= f.check_box :sub_dms_history_a,               {class: "hoge"}, "日本史A", "0" %>日本史A</label>
  <label><%= f.check_box :sub_dms_history_b,               {class: "hoge"}, "日本史B", "0" %>日本史B</label>
  <label><%= f.check_box :sub_geography_a,                 {class: "hoge"}, "地理A", "0" %>地理A</label>
  <label><%= f.check_box :sub_geography_b,                 {class: "hoge"}, "地理B", "0" %>地理B</label>
  <label><%= f.check_box :sub_ctp_society,                 {class: "hoge"}, "現代社会", "0" %>現代社会</label>
  <label><%= f.check_box :sub_ethics,                      {class: "hoge"}, "倫理", "0" %>倫理</label>
  <label><%= f.check_box :sub_politics_n_economy,          {class: "hoge"}, "政治・経済", "0" %>政治・経済</label>
  <label><%= f.check_box :sub_ethics_n_politics_n_economy, {class: "hoge"}, "倫理・政治・経済", "0" %>倫理・政治・経済</label>
  <label><%= f.check_box :sub_society,                     {class: "hoge"}, "社会", "0" %>社会</label>
  <label><%= f.check_box :sub_listening,                   {class: "hoge"}, "リスニング", "0" %>リスニング</label>
  <label><%= f.check_box :sub_reading,                     {class: "hoge"}, "リーディング", "0" %>リーディング</label>
  <label><%= f.check_box :sub_english,                     {class: "hoge"}, "英語", "0" %>英語</label>
  <label><%= f.check_box :sub_language,                    {class: "hoge"}, "外国語", "0" %>外国語</label>

  
  </div>
  アベレージテーブル
  <div>
  <%= f.text_field :avg_title,                       class: "fuga" %>
  <%= f.text_field :avg_jpn_ctp,                     class: "fuga" %>
  <%= f.text_field :avg_jpn_classic,                 class: "fuga" %>
  <%= f.text_field :avg_jpn_chinese,                 class: "fuga" %>
  <%= f.text_field :avg_jpn,                         class: "fuga" %>
  <%= f.text_field :avg_math_1_a,                    class: "fuga" %>
  <%= f.text_field :avg_math_2_b,                    class: "fuga" %>
  <%= f.text_field :avg_math_3_c,                    class: "fuga" %>
  <%= f.text_field :avg_math_1,                      class: "fuga" %>
  <%= f.text_field :avg_math_2,                      class: "fuga" %>
  <%= f.text_field :avg_math_3,                      class: "fuga" %>
  <%= f.text_field :avg_math_a,                      class: "fuga" %>
  <%= f.text_field :avg_math_b,                      class: "fuga" %>
  <%= f.text_field :avg_math_c,                      class: "fuga" %>
  <%= f.text_field :avg_math,                        class: "fuga" %>
  <%= f.text_field :avg_book_keep,                   class: "fuga" %>
  <%= f.text_field :avg_basic_info,                  class: "fuga" %>
  <%= f.text_field :avg_science_n_life,              class: "fuga" %>
  <%= f.text_field :avg_basic_physics,               class: "fuga" %>
  <%= f.text_field :avg_physics,                     class: "fuga" %>
  <%= f.text_field :avg_basic_chemistry,             class: "fuga" %>
  <%= f.text_field :avg_chemistry,                   class: "fuga" %>
  <%= f.text_field :avg_basic_earth_science,         class: "fuga" %>
  <%= f.text_field :avg_earth_science,               class: "fuga" %>
  <%= f.text_field :avg_basic_biology,               class: "fuga" %>
  <%= f.text_field :avg_biology,                     class: "fuga" %>
  <%= f.text_field :avg_science,                     class: "fuga" %>
  <%= f.text_field :avg_wld_history_a,               class: "fuga" %>
  <%= f.text_field :avg_wld_history_b,               class: "fuga" %>
  <%= f.text_field :avg_dms_history_a,               class: "fuga" %>
  <%= f.text_field :avg_dms_history_b,               class: "fuga" %>
  <%= f.text_field :avg_geography_a,                 class: "fuga" %>
  <%= f.text_field :avg_geography_b,                 class: "fuga" %>
  <%= f.text_field :avg_ctp_society,                 class: "fuga" %>
  <%= f.text_field :avg_ethics,                      class: "fuga" %>
  <%= f.text_field :avg_politics_n_economy,          class: "fuga" %>
  <%= f.text_field :avg_ethics_n_politics_n_economy, class: "fuga" %>
  <%= f.text_field :avg_society,                     class: "fuga" %>
  <%= f.text_field :avg_listening,                   class: "fuga" %>
  <%= f.text_field :avg_reading,                     class: "fuga" %>
  <%= f.text_field :avg_english,                     class: "fuga" %>
  <%= f.text_field :avg_language,                    class: "fuga" %>
  </div>
  スコアテーブル
 <div>
  <%= f.text_field :title,                       class: "gofo" %>
  <%= f.text_field :jpn_ctp,                     class: "gofo" %>
  <%= f.text_field :jpn_classic,                 class: "gofo" %>
  <%= f.text_field :jpn_chinese,                 class: "gofo" %>
  <%= f.text_field :jpn,                         class: "gofo" %>
  <%= f.text_field :math_1_a,                    class: "gofo" %>
  <%= f.text_field :math_2_b,                    class: "gofo" %>
  <%= f.text_field :math_3_c,                    class: "gofo" %>
  <%= f.text_field :math_1,                      class: "gofo" %>
  <%= f.text_field :math_2,                      class: "gofo" %>
  <%= f.text_field :math_3,                      class: "gofo" %>
  <%= f.text_field :math_a,                      class: "gofo" %>
  <%= f.text_field :math_b,                      class: "gofo" %>
  <%= f.text_field :math_c,                      class: "gofo" %>
  <%= f.text_field :math,                        class: "gofo" %>
  <%= f.text_field :book_keep,                   class: "gofo" %>
  <%= f.text_field :basic_info,                  class: "gofo" %>
  <%= f.text_field :science_n_life,              class: "gofo" %>
  <%= f.text_field :basic_physics,               class: "gofo" %>
  <%= f.text_field :physics,                     class: "gofo" %>
  <%= f.text_field :basic_chemistry,             class: "gofo" %>
  <%= f.text_field :chemistry,                   class: "gofo" %>
  <%= f.text_field :basic_earth_science,         class: "gofo" %>
  <%= f.text_field :earth_science,               class: "gofo" %>
  <%= f.text_field :basic_biology,               class: "gofo" %>
  <%= f.text_field :biology,                     class: "gofo" %>
  <%= f.text_field :science,                     class: "gofo" %>
  <%= f.text_field :wld_history_a,               class: "gofo" %>
  <%= f.text_field :wld_history_b,               class: "gofo" %>
  <%= f.text_field :dms_history_a,               class: "gofo" %>
  <%= f.text_field :dms_history_b,               class: "gofo" %>
  <%= f.text_field :geography_a,                 class: "gofo" %>
  <%= f.text_field :geography_b,                 class: "gofo" %>
  <%= f.text_field :ctp_society,                 class: "gofo" %>
  <%= f.text_field :ethics,                      class: "gofo" %>
  <%= f.text_field :politics_n_economy,          class: "gofo" %>
  <%= f.text_field :ethics_n_politics_n_economy, class: "gofo" %>
  <%= f.text_field :society,                     class: "gofo" %>
  <%= f.text_field :listening,                   class: "gofo" %>
  <%= f.text_field :reading,                     class: "gofo" %>
  <%= f.text_field :english,                     class: "gofo" %>
  <%= f.text_field :language,                    class: "gofo" %>
 </div>
  <%= f.submit :submit %>

<% end %>