<head>
  <% content_for :css do %>
    <%= stylesheet_link_tag 'my_tasks' %>
  <% end %>
</head>
<body>
  <header>
    <div class="header-container">
      <div class="header-left">
        <a href="#" id="menu-btn"><i class="fas fa-bars bars"></i></a>
      </div>
      <div class="header-right">
        <p>テスト予定一覧</p>
      </div>
    </div>
  </header>
  <main>
    <%= render partial: "scores/menu" %>
    <div class="main-wrapper" style="overflow:auto;">
      <div class="tasks">
      <% @tasks.each do |task| %>
        <div class="task">
          <div class="title-n-date">
            <p class="title">　<%= task.task_title %></p>
            <p class="date"><%= task.limit_date %></p>
          </div>
          <p class="memo">メモ：<%= task.memo %></p>
          <div class="btn">
            <%= link_to "編集", edit_task_path(task), class: "edit" %>
            <%= link_to "削除", task_path(task), method: :delete, class: "destroy" %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </main>
</body>