<head>
  <% content_for :css do %>
    <%= stylesheet_link_tag 'new' %>
  <% end %>
</head>
<body>
  <header>
  
    <div class="header-container">
    <div class="header-left">
      <a href="#" id="menu-btn"><i class="fas fa-bars bars"></i></a>
      
    </div>
    <div class="header-right">
      <p>成績編集ページ</p>
    </div>
  </div>
  </header>
  <main>
    <%= render partial: "menu" %>
    
    <div class="main-wrapper" style="overflow:auto;">   
      <%= form_with model: @form, url: score_path(@score), method: :patch, id: "id_form", local: true do |f|  %>
      <%= render 'shared/error_messages', model: f.object %>
      <%= f.text_field :avg_title, id: "avg_title", style: "display:none;" %>
      <div class="tag-n-title-container">
        <div class="title">
          <p>テスト名：</p>
          <%= f.text_field :title, id: "title", placeholder: "テスト名を入力" %>
        </div>
        <div class="tag">
          <p>タグ：</p>
          <%= f.text_field :tag_name, placeholder: "タグ名を入力" %>
        </div>
      </div>

      <div class="inputs-container">
        <div class="score-box">
          
          <label><%= f.check_box :sub_jpn_ctp, {class: ""}, "現代文" %>現代文</label>
    
          <div class="inputs-area">
            <%= f.text_field :jpn_ctp, placeholder: "点数" %>
            <%= f.text_field :avg_jpn_ctp, placeholder: "平均点" %>
          </div>

        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_jpn_classic, {class: ""}, "古文" %>古文</label>
          <div class="inputs-area">
            <%= f.text_field :jpn_classic, placeholder: "点数" %>
            <%= f.text_field :avg_jpn_classic, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_jpn_chinese, {class: ""}, "漢文" %>漢文</label>
          <div class="inputs-area">
            <%= f.text_field :jpn_chinese, placeholder: "点数" %>
            <%= f.text_field :avg_jpn_chinese, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_jpn, {class: ""}, "国語" %>国語</label>
          <div class="inputs-area">
            <%= f.text_field :jpn, placeholder: "点数" %>
            <%= f.text_field :avg_jpn, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_math_1_a, {class: ""}, "数学ⅠA" %>数学ⅠA</label>
          <div class="inputs-area">
            <%= f.text_field :math_1_a, placeholder: "点数" %>
            <%= f.text_field :avg_math_1_a, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_math_2_b, {class: ""}, "数学ⅡB" %>数学ⅡB</label>
          <div class="inputs-area">
            <%= f.text_field :math_2_b, placeholder: "点数" %>
            <%= f.text_field :avg_math_2_b, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_math_3_c, {class: ""}, "数学ⅢC" %>数学ⅢC</label>
          <div class="inputs-area">
            <%= f.text_field :math_3_c, placeholder: "点数" %>
            <%= f.text_field :avg_math_3_c, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_math_1, {class: ""}, "数学Ⅰ" %>数学Ⅰ</label>
          <div class="inputs-area">
            <%= f.text_field :math_1, placeholder: "点数" %>
            <%= f.text_field :avg_math_1, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_math_2, {class: ""}, "数学Ⅱ" %>数学Ⅱ</label>
          <div class="inputs-area">
            <%= f.text_field :math_2, placeholder: "点数" %>
            <%= f.text_field :avg_math_2, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_math_3, {class: ""}, "数学Ⅲ" %>数学Ⅲ</label>
          <div class="inputs-area">
            <%= f.text_field :math_3, placeholder: "点数" %>
            <%= f.text_field :avg_math_3, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_math_a, {class: ""}, "数学A" %>数学A</label>
          <div class="inputs-area">
            <%= f.text_field :math_a, placeholder: "点数" %>
            <%= f.text_field :avg_math_a, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_math_b, {class: ""}, "数学B" %>数学B</label>
          <div class="inputs-area">
            <%= f.text_field :math_b, placeholder: "点数" %>
            <%= f.text_field :avg_math_b, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_math_c, {class: ""}, "数学C" %>数学C</label>
          <div class="inputs-area">
            <%= f.text_field :math_c, placeholder: "点数" %>
            <%= f.text_field :avg_math_c, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_math, {class: ""}, "数学" %>数学</label>
          <div class="inputs-area">
            <%= f.text_field :math, placeholder: "点数" %>
            <%= f.text_field :avg_math, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_book_keep, {class: ""}, "簿記・会計" %>簿記・会計</label>
          <div class="inputs-area">
            <%= f.text_field :book_keep, placeholder: "点数" %>
            <%= f.text_field :avg_book_keep, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_basic_info, {class: ""}, "情報関係基礎" %>情報関係基礎</label>
          <div class="inputs-area">
            <%= f.text_field :basic_info, placeholder: "点数" %>
            <%= f.text_field :avg_basic_info, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_science_n_life, {class: ""}, "科学と人間生活" %>科学と人間生活</label>
          <div class="inputs-area">
            <%= f.text_field :science_n_life, placeholder: "点数" %>
            <%= f.text_field :avg_science_n_life, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_basic_physics, {class: ""}, "物理基礎" %>物理基礎</label>
          <div class="inputs-area">
            <%= f.text_field :basic_physics, placeholder: "点数" %>
            <%= f.text_field :avg_basic_physics, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_physics, {class: ""}, "物理" %>物理</label>
          <div class="inputs-area">
            <%= f.text_field :physics, placeholder: "点数" %>
            <%= f.text_field :avg_physics, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_basic_chemistry, {class: ""}, "化学基礎" %>化学基礎</label>
          <div class="inputs-area">
            <%= f.text_field :basic_chemistry, placeholder: "点数" %>
            <%= f.text_field :avg_basic_chemistry, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_chemistry, {class: ""}, "化学" %>化学</label>
          <div class="inputs-area">
            <%= f.text_field :chemistry, placeholder: "点数" %>
            <%= f.text_field :avg_chemistry, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_basic_earth_science, {class: ""}, "地学基礎" %>地学基礎</label>
          <div class="inputs-area">
            <%= f.text_field :basic_earth_science, placeholder: "点数" %>
            <%= f.text_field :avg_basic_earth_science, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_earth_science, {class: ""}, "地学" %>地学</label>
          <div class="inputs-area">
            <%= f.text_field :earth_science, placeholder: "点数" %>
            <%= f.text_field :avg_earth_science, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_basic_biology, {class: ""}, "生物基礎" %>生物基礎</label>
          <div class="inputs-area">
            <%= f.text_field :basic_biology, placeholder: "点数" %>
            <%= f.text_field :avg_basic_biology, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_biology, {class: ""}, "生物" %>生物</label>
          <div class="inputs-area">
            <%= f.text_field :biology, placeholder: "点数" %>
            <%= f.text_field :avg_biology, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_science, {class: ""}, "理科" %>理科</label>
          <div class="inputs-area">
            <%= f.text_field :science, placeholder: "点数" %>
            <%= f.text_field :avg_science, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_wld_history_a, {class: ""}, "世界史A" %>世界史A</label>
          <div class="inputs-area">
            <%= f.text_field :wld_history_a, placeholder: "点数" %>
            <%= f.text_field :avg_wld_history_a, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_wld_history_b, {class: ""}, "世界史B" %>世界史B</label>
          <div class="inputs-area">
            <%= f.text_field :wld_history_b, placeholder: "点数" %>
            <%= f.text_field :avg_wld_history_b, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_dms_history_a, {class: ""}, "日本史A" %>日本史A</label>
          <div class="inputs-area">
            <%= f.text_field :dms_history_a, placeholder: "点数" %>
            <%= f.text_field :avg_dms_history_a, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_dms_history_b, {class: ""}, "日本史B" %>日本史B</label>
          <div class="inputs-area">
            <%= f.text_field :dms_history_b, placeholder: "点数" %>
            <%= f.text_field :avg_dms_history_b, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_geography_a, {class: ""}, "地理A" %>地理A</label>
          <div class="inputs-area">
            <%= f.text_field :geography_a, placeholder: "点数" %>
            <%= f.text_field :avg_geography_a, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_geography_b, {class: ""}, "地理B" %>地理B</label>
          <div class="inputs-area">
            <%= f.text_field :geography_b, placeholder: "点数" %>
            <%= f.text_field :avg_geography_b, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_ctp_society, {class: ""}, "現代社会" %>現代社会</label>
          <div class="inputs-area">
            <%= f.text_field :ctp_society, placeholder: "点数" %>
            <%= f.text_field :avg_ctp_society, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_ethics, {class: ""}, "倫理" %>倫理</label>
          <div class="inputs-area">
            <%= f.text_field :ethics, placeholder: "点数" %>
            <%= f.text_field :avg_ethics, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_politics_n_economy, {class: ""}, "政治・経済" %>政治・経済</label>
          <div class="inputs-area">
            <%= f.text_field :politics_n_economy, placeholder: "点数" %>
            <%= f.text_field :avg_politics_n_economy, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_ethics_n_politics_n_economy, {class: ""}, "倫理・政治・経済" %>倫理・政治・経済</label>
          <div class="inputs-area">
            <%= f.text_field :ethics_n_politics_n_economy, placeholder: "点数" %>
            <%= f.text_field :avg_ethics_n_politics_n_economy, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_society, {class: ""}, "社会" %>社会</label>
          <div class="inputs-area">
            <%= f.text_field :society, placeholder: "点数" %>
            <%= f.text_field :avg_society, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_listening, {class: ""}, "リスニング" %>リスニング</label>
          <div class="inputs-area">
            <%= f.text_field :listening, placeholder: "点数" %>
            <%= f.text_field :avg_listening, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_reading, {class: ""}, "リーディング" %>リーディング</label>
          <div class="inputs-area">
            <%= f.text_field :reading, placeholder: "点数" %>
            <%= f.text_field :avg_reading, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_english, {class: ""}, "英語" %>英語</label>
          <div class="inputs-area">
            <%= f.text_field :english, placeholder: "点数" %>
            <%= f.text_field :avg_english, placeholder: "平均点" %>
          </div>
        </div>

        <div class="score-box">
          <label><%= f.check_box :sub_language, {class: ""}, "外国語" %>外国語(英語以外)</label>
          <div class="inputs-area">
            <%= f.text_field :language, placeholder: "点数" %>
            <%= f.text_field :avg_language, placeholder: "平均点" %>
          </div>
        </div>

          <%= f.text_area :review, placeholder: "メモ" %>

          <%= f.submit :submit, value: "保　存" %>
          <div class="adjust-box">
          </div>
      </div>
      <% end %>
    </div> 
  </main>
</body>
