<%= form_with model: @score_subject_average, url: scores_path, id: "id_form", local: true do |f|  %>
<div>
テスト名(点数)　<%= f.text_field :title,                       class: "gofo" %>
</div>
<div>
テスト名(平均点)<%= f.text_field :avg_title,                       class: "fuga" %>
</div>

<table>
  <tr>
    <th>科目</th>
    <th>点数</th>
    <th>平均点</th>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_jpn_ctp,                     {class: "hoge"}, "現代文" %>現代文</label></td>
    <td><%= f.text_field :jpn_ctp,                     class: "gofo" %></td>
    <td><%= f.text_field :avg_jpn_ctp,                     class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_jpn_classic,                 {class: "hoge"}, "古文" %>古文</label></td>
    <td><%= f.text_field :jpn_classic,                 class: "gofo" %></td>
    <td><%= f.text_field :avg_jpn_classic,                 class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_jpn_chinese,                 {class: "hoge"}, "漢文" %>漢文</label></td>
    <td><%= f.text_field :jpn_chinese,                 class: "gofo" %></td>
    <td><%= f.text_field :avg_jpn_chinese,                 class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_jpn,                         {class: "hoge"}, "国語" %>国語</label></td>
    <td><%= f.text_field :jpn,                         class: "gofo" %></td>
    <td><%= f.text_field :avg_jpn,                         class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_math_1_a,                    {class: "hoge"}, "数学ⅠA" %>数学ⅠA</label></td>
    <td><%= f.text_field :math_1_a,                    class: "gofo" %></td>
    <td><%= f.text_field :avg_math_1_a,                    class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_math_2_b,                    {class: "hoge"}, "数学ⅡB" %>数学ⅡB</label></td>
    <td><%= f.text_field :math_2_b,                    class: "gofo" %></td>
    <td><%= f.text_field :avg_math_2_b,                    class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_math_3_c,                    {class: "hoge"}, "数学ⅢC" %>数学ⅢC</label></td>
    <td><%= f.text_field :math_3_c,                    class: "gofo" %></td>
    <td><%= f.text_field :avg_math_3_c,                    class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_math_1,                      {class: "hoge"}, "数学Ⅰ" %>数学Ⅰ</label></td>
    <td><%= f.text_field :math_1,                      class: "gofo" %></td>
    <td><%= f.text_field :avg_math_1,                      class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_math_2,                      {class: "hoge"}, "数学Ⅱ" %>数学Ⅱ</label></td>
    <td><%= f.text_field :math_2,                      class: "gofo" %></td>
    <td><%= f.text_field :avg_math_2,                      class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_math_3,                      {class: "hoge"}, "数学Ⅲ" %>数学Ⅲ</label></td>
    <td><%= f.text_field :math_3,                      class: "gofo" %></td>
    <td><%= f.text_field :avg_math_3,                      class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_math_a,                      {class: "hoge"}, "数学A" %>数学A</label></td>
    <td><%= f.text_field :math_a,                      class: "gofo" %></td>
    <td><%= f.text_field :avg_math_a,                      class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_math_b,                      {class: "hoge"}, "数学B" %>数学B</label></td>
    <td><%= f.text_field :math_b,                      class: "gofo" %></td>
    <td><%= f.text_field :avg_math_b,                      class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_math_c,                      {class: "hoge"}, "数学C" %>数学C</label></td>
    <td><%= f.text_field :math_c,                      class: "gofo" %></td>
    <td><%= f.text_field :avg_math_c,                      class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_math,                        {class: "hoge"}, "数学" %>数学</label></td>
    <td><%= f.text_field :math,                        class: "gofo" %></td>
    <td><%= f.text_field :avg_math,                        class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_book_keep,                   {class: "hoge"}, "簿記・会計" %>簿記・会計</label></td>
    <td><%= f.text_field :book_keep,                   class: "gofo" %></td>
    <td><%= f.text_field :avg_book_keep,                   class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_basic_info,                  {class: "hoge"}, "情報関係基礎" %>情報関係基礎</label></td>
    <td><%= f.text_field :basic_info,                  class: "gofo" %></td>
    <td><%= f.text_field :avg_basic_info,                  class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_science_n_life,              {class: "hoge"}, "科学と人間生活" %>科学と人間生活</label></td>
    <td><%= f.text_field :science_n_life,              class: "gofo" %></td>
    <td><%= f.text_field :avg_science_n_life,              class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_basic_physics,               {class: "hoge"}, "物理基礎" %>物理基礎</label></td>
    <td><%= f.text_field :basic_physics,               class: "gofo" %></td>
    <td><%= f.text_field :avg_basic_physics,               class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_physics,                     {class: "hoge"}, "物理" %>物理</label></td>
    <td><%= f.text_field :physics,                     class: "gofo" %></td>
    <td><%= f.text_field :avg_physics,                     class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_basic_chemistry,             {class: "hoge"}, "化学基礎" %>化学基礎</label></td>
    <td><%= f.text_field :basic_chemistry,             class: "gofo" %></td>
    <td><%= f.text_field :avg_basic_chemistry,             class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_chemistry,                   {class: "hoge"}, "化学" %>化学</label></td>
    <td><%= f.text_field :chemistry,                   class: "gofo" %></td>
    <td><%= f.text_field :avg_chemistry,                   class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_basic_earth_science,         {class: "hoge"}, "地学基礎" %>地学基礎</label></td>
    <td><%= f.text_field :basic_earth_science,         class: "gofo" %></td>
    <td><%= f.text_field :avg_basic_earth_science,         class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_earth_science,               {class: "hoge"}, "地学" %>地学</label></td>
    <td><%= f.text_field :earth_science,               class: "gofo" %></td>
    <td><%= f.text_field :avg_earth_science,               class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_basic_biology,               {class: "hoge"}, "生物基礎" %>生物基礎</label></td>
    <td><%= f.text_field :basic_biology,               class: "gofo" %></td>
    <td><%= f.text_field :avg_basic_biology,               class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_biology,                     {class: "hoge"}, "生物" %>生物</label></td>
    <td><%= f.text_field :biology,                     class: "gofo" %></td>
    <td><%= f.text_field :avg_biology,                     class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_science,                     {class: "hoge"}, "理科" %>理科</label></td>
    <td><%= f.text_field :science,                     class: "gofo" %></td>
    <td><%= f.text_field :avg_science,                     class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_wld_history_a,               {class: "hoge"}, "世界史A" %>世界史A</label></td>
    <td><%= f.text_field :wld_history_a,               class: "gofo" %></td>
    <td><%= f.text_field :avg_wld_history_a,               class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_wld_history_b,               {class: "hoge"}, "世界史B" %>世界史B</label></td>
    <td><%= f.text_field :wld_history_b,               class: "gofo" %></td>
    <td><%= f.text_field :avg_wld_history_b,               class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_dms_history_a,               {class: "hoge"}, "日本史A" %>日本史A</label></td>
    <td><%= f.text_field :dms_history_a,               class: "gofo" %></td>
    <td><%= f.text_field :avg_dms_history_a,               class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_dms_history_b,               {class: "hoge"}, "日本史B" %>日本史B</label></td>
    <td><%= f.text_field :dms_history_b,               class: "gofo" %></td>
    <td><%= f.text_field :avg_dms_history_b,               class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_geography_a,                 {class: "hoge"}, "地理A" %>地理A</label></td>
    <td><%= f.text_field :geography_a,                 class: "gofo" %></td>
    <td><%= f.text_field :avg_geography_a,                 class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_geography_b,                 {class: "hoge"}, "地理B" %>地理B</label></td>
    <td><%= f.text_field :geography_b,                 class: "gofo" %></td>
    <td><%= f.text_field :avg_geography_b,                 class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_ctp_society,                 {class: "hoge"}, "現代社会" %>現代社会</label></td>
    <td><%= f.text_field :ctp_society,                 class: "gofo" %></td>
    <td><%= f.text_field :avg_ctp_society,                 class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_ethics,                      {class: "hoge"}, "倫理" %>倫理</label></td>
    <td><%= f.text_field :ethics,                      class: "gofo" %></td>
    <td><%= f.text_field :avg_ethics,                      class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_politics_n_economy,          {class: "hoge"}, "政治・経済" %>政治・経済</label></td>
    <td><%= f.text_field :politics_n_economy,          class: "gofo" %></td>
    <td><%= f.text_field :avg_politics_n_economy,          class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_ethics_n_politics_n_economy, {class: "hoge"}, "倫理・政治・経済" %>倫理・政治・経済</label></td>
    <td><%= f.text_field :ethics_n_politics_n_economy, class: "gofo" %></td>
    <td><%= f.text_field :avg_ethics_n_politics_n_economy, class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_society,                     {class: "hoge"}, "社会" %>社会</label></td>
    <td><%= f.text_field :society,                     class: "gofo" %></td>
    <td><%= f.text_field :avg_society,                     class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_listening,                   {class: "hoge"}, "リスニング" %>リスニング</label></td>
    <td><%= f.text_field :listening,                   class: "gofo" %></td>
    <td><%= f.text_field :avg_listening,                   class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_reading,                     {class: "hoge"}, "リーディング" %>リーディング</label></td>
    <td><%= f.text_field :reading,                     class: "gofo" %></td>
    <td><%= f.text_field :avg_reading,                     class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_english,                     {class: "hoge"}, "英語" %>英語</label></td>
    <td><%= f.text_field :english,                     class: "gofo" %></td>
    <td><%= f.text_field :avg_english,                     class: "fuga" %></td>
  </tr>
  <tr>
    <td><label><%= f.check_box :sub_language,                    {class: "hoge"}, "外国語" %>外国語</label></td>
    <td><%= f.text_field :language,                    class: "gofo" %></td>
    <td><%= f.text_field :avg_language,                    class: "fuga" %></td>
  </tr>
</table>
<%= f.submit :submit %>
<% end %>