<!DOCTYPE html>
<html>
  <head>
    <title>YourScore</title>
    <%= csrf_meta_tags %>

    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"> 
    
    <%= include_gon %>
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    </style>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Pacifico&display=swap');
    </style>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= yield :css %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
